.sapUiUx3ShellContent {
    width: 50% !important;
    margin-left: 35% !important;
    margin-top: 10% !important;
    
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph {
    margin-top: 5% !important;
}

/*.sapUiUx3ShellHeader>hr {
    background-color: #007dc0 !important;
}*/